In [ ]:
Intoduction to variables

In [ ]:
RULE:
1.NO NAMESPACES
2.NO NUMBERS
3.NO SPL CHAR

In [5]:
x=45
y=522
z=x+y
print(z)

567

In [9]:
#first rule
first name='Joshua'
print(first name)

SyntaxError: invalid syntax (4273366804.py, line 1)

In [11]:
first_name='joshua'
print(first_name)

joshua

In [13]:
firstname='sharon'
print(firstname)

sharon

In [15]:
#second rule 
1name='one'
print(1one)

SyntaxError: invalid decimal literal (2604284610.py, line 1)

In [17]:
name1='one'
print(name1)

one

In [21]:
nam2e1='two'
print(nam2e1)

two

In [23]:
#third rule
@email='hi@gmail.com'
print(@email)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2703361964.py, line 2)

In [25]:
dollar$='Rs.83.61'
print(dollar$)

SyntaxError: invalid syntax (351673196.py, line 1)

In [28]:
name@='fox'

NameError: name 'name' is not defined

In [ ]:
Data Types
STRING==>str
Number==>INTEGER==>int,FLOATING POINT==>float
LIST=>list
TUPLE=>tuple
DICTIONARIES=>dict

DATATYPES ARE OF 2 TYPES
1.MUTABLE
2.IMMUTABLE

In [32]:
#STRING
name='haritha'#single quotes
print(name)

haritha

In [36]:
he="tarun"#double quotes
print(he)

tarun

In [40]:
#string methods
sir='shaik faiyaz'
print(sir)

shaik faiyaz

In [ ]:
#req:verify and validate datatype...?
type() method

In [42]:
type(sir)

str

In [44]:
#req:i want the name in crct format--first letter in caps...
title() method

In [46]:
print(sir.title())

Shaik Faiyaz

In [48]:
name='daniel'
print(name)

daniel

In [50]:
print(name.title())

Daniel

In [54]:
mname='sireesha'
print(mname)

sireesha

In [56]:
print(mname.title())

Sireesha

In [58]:
#req:i want text completely in capital letters...
upper()

In [60]:
print(sir.upper())

SHAIK FAIYAZ

In [62]:
print(name.upper())

DANIEL

In [64]:
print(mname.upper())

SIREESHA

In [66]:
#req:i want text completely in smallcase letters
lower()

In [70]:
print(sir.lower())

shaik faiyaz

In [72]:
print(name.lower())

daniel

In [74]:
print(mname.lower())

sireesha